<!DOCTYPE HTML>
<html>
    <head>
        <title>Address Book Prototype</title>
    </head>
    <body>
        <h1>Address Book</h1>
        <p>Find me in app/views/static_pages/home.html.erb</p>
    </body>
</html>
