<% provide(:title, 'All users') %>
<h1>All members</h1>

<%= will_paginate %>

<ul class="members">
  <% @members.each do |member| %>
      <li>
        <%= gravatar_for member, size: 52 %>
        <%= link_to member.name, member %>
      </li>
  <% end %>
</ul>

<%= will_paginate %>
